body {
    margin-left: 150px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    font-size: 18px;
}

.info {
    font-size: 35px;
    width: 480px;
    font-weight: bold;
}

.projects {
    font-weight: bold;
    font-size: 20px;
}

.KFC {
    padding: 20px;
    border-color: lightgray;
    border-style:solid;
    border-radius: 7px;
    border-width: 2px;

    width: 750px;
    height: 520px;
}

.kfcImg {
    width: 750px;
}

.kfcTitle {
    font-weight:bold;
    font-size: 25px;
}

.view {
    display: flex;
    font-weight:bold;
    font-size: 14px;
}

.edh {
    padding: 20px;
    border-color: lightgray;
    border-style:solid;
    border-radius: 7px;
    border-width: 2px;

    width: 750px;
    height: 520px;

    margin-top: 50px;
}

.edhImg {
    width: 750px;
}

.edhTitle {
    font-weight:bold;
    font-size: 25px;
}

.coffee {
    padding: 20px;
    border-color: lightgray;
    border-style:solid;
    border-radius: 7px;
    border-width: 2px;

    width: 750px;
    height: 520px;

    margin-top: 50px;
}

.coffeeImg {
    width: 750px;
}

.coffeeTitle {
    font-weight:bold;
    font-size: 25px;
}